.recent-post {
    .recent-post-title a {
        color: #666;
    }
    // .recent-post__topics {
        
    // }
}

.post-topic {
    color: #B3B3B3;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
}

.post-link {
    .post-link-box {

    }

    .post-link-link {

    }
}




